.root {
    /* control background */
    -fx-background-image: url("198326_tap-and-get-the-free-app-mens-world-stylish-dark-texture-black_736x1309_h.jpeg");
    -fx-background-size: cover;
}

.nextBrick {
    -fx-border-width: 2px;
    -fx-border-color: linear-gradient(#9bf6ff, #a0c4ff, #bdb2ff, #ffc6ff);
    -fx-border-radius: 10px;
}

.nextBrickLabel {
    -fx-font-family: "ARCADECLASSIC";
    -fx-padding: 20px 0 0 0;
    -fx-font-size: 16px;
    -fx-text-fill: rgb(224, 237, 241);
}

.gameBoard {
    -fx-border-color:  linear-gradient(#9bf7ff00, #a0c4ff2a, #beb2ff81, #ffc6ffd7);
    -fx-border-width: 5px;
    -fx-border-radius: 12px;
}

.vbox {
    -fx-spacing: 12;
}

.helpInfo {
    -fx-font-family: "ARCADECLASSIC";
    -fx-fill: white;
    -fx-alignment: center-left;
    -fx-text-alignment: left;
    -fx-font-size: 13px;
}

.bonusStyle {
    -fx-font-family: "ARCADECLASSIC";
    -fx-font-size: 45px;
    -fx-font-weight: bold;
}

.gameOverStyle {
    -fx-font-family: "ARCADECLASSIC";
    -fx-font-size: 78;
    -fx-background-color: #ff2e2e;
}

.scoreClass{
    -fx-font-family: "ARCADECLASSIC";
    -fx-font-size: 40px;
    -fx-fill: linear-gradient(#ff0054, #ffbd00);
    -fx-text-fill: linear-gradient(#ffb5a7, #f8edeb, #fec89a);
}

/*Buttons*/
.fancy-button-va {
    -fx-padding: 8 15 15 15;
    -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-radius: 8;
    -fx-background-color:       /* controls line under button*/   /* controls button*/
            linear-gradient(from 0% 93% to 0% 100%, #484e51 0%, #9a9ea2 100%),
            #474b4d,
            #9a9ea2;
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
    -fx-font-family: "ARCADECLASSIC"; 
    -fx-font-weight: bold;
    -fx-text-fill: #ffffff;
    -fx-font-size: 22px; 
}


.fancy-button-va:hover {
    -fx-background-color:
            linear-gradient(from 0% 93% to 0% 100%, #4c5357 0%, #76797d 100%),
            #484e51,
            #7e8185;
            /* radial-gradient(center 50% 50%, radius 100%, #4f5254, #91969c); */
    /* -fx-text-fill: #d7d7d7; */
}
.fancy-button-va:pressed {
    -fx-background-color:
            linear-gradient(from 0% 93% to 0% 100%, #4c5357 0%, #8c8e91 100%),
            #484e51,
            #7e8185,
            radial-gradient(center 50% 50%, radius 100%, #4f5254, #91969c);
    -fx-padding: 10 15 13 15;
    -fx-background-insets: 2 0 0 0,2 0 3 0, 2 0 4 0, 2 0 5 0;
    -fx-text-fill: #d7d7d7;
}
.fancy-button-va Text {
    -fx-fill: rgb(255, 255, 255);
    -fx-effect: dropshadow( gaussian , #a30000 , 0,0,0,2 );
}